.hero::after {
  content: "";
  background-image: url("./assets/jobseeker_empower.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 70%;
  z-index: -1;
  position: absolute;
  top: 0;
}

@media (max-width: 768px) {
  .hero::after {
    content: "";
    background-image: url("./assets/jobseeker_empower.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: 50% 50%;
    width: 100%;
    height: 80%;

    z-index: -1;
    position: absolute;
    top: 0;
  }
}
/* .hero {
  background-image: url("./assets/jobseeker_empower.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
} */
